*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.like{
  display: flex;
  justify-content: center;
  align-items: center;
}
.like svg{
  font-size: 30px;
  cursor: pointer;
}
.cont svg{
  font-size: 30px;
  cursor: pointer;
}
